# Git files
.git
.github
.gitignore

# Node modules
node_modules

# Build artifacts
dist
coverage
.wrangler

# Documentation
docs
*.md
LICENSE

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Editor files
.vscode
.idea
*.sublime-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
test
jest.config.js
coverage

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local